<strong>
  Olá {{ student }}, seu pedido de auxílio número #{{ orderId }} foi respondido pela nossa equipe. <br />
</strong>
<p>Veja os detalhes:</p>
<p>
  <strong>P: {{ question }}</strong>
  <br />
  <i>R: {{ answer }}</i>
</p>
<small><i>Respondido em: {{ answer_at }}</i></small>
