<strong>
  Parabéns {{ student }}, você acaba de ser matriculado na Gympoint. <br />
</strong>
<p>Veja detalhes do seu plano:</p>
<ul>
  <li>Você escolheu o plano {{ plan.title }}.</li>
  <li>A duração do plano é de {{ plan.duration }} mês(es), com inicio no dia {{ registration.start_date }}.</li>
  <li>O custo total é de {{ registration.total_price }}.</li>
</ul>
<p>Aguardamos você na nossa academia!</p>

